.search_container{
    background: #fff;
    height: 45px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
  box-shadow:  4px 4px 6px 0 rgba(54, 52, 52, 0.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }

  .search_container .search_input{
    background: transparent;
    border: none;
    outline:none;
    width: 300px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
  }
  .search_input::placeholder {
      color:"#e0e0e0";
      opacity: .3;
      font-style: oblique;
      text-align: center;
  }