.container {
    display: grid;
    grid-template-columns: 5fr;
    grid-gap: 3rem;
    margin: 15px;
}
.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;  */
}


.containerItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.item {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 6px 5px 2px rgba(0,0,0,0.5);
    margin: 10px;
}

.img {
    position: absolute;
    top: -30px;
    left: 50px;
}
.info {
    margin-top: 60px;
}
.info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 7px;
    opacity: 0.8;
}
.desc {
    font-size: .9rem;
    opacity: 0.8;
    margin-left: 5px;
}
.footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.ml {
    margin:5px;
    font-style: italic;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: inherit;
    cursor: pointer;
}
.price {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
    opacity: 0.8;
}
.title {
    font-size: 1.3rem;
    margin: 10px;
    opacity: 0.8;
    margin-bottom: 15px;
}
.title > span {
    margin-left: 16px;
    color: rgb(133, 127, 127);
}
.btn {
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    outline: auto;
}

.articleItem {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.articleItem h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(112, 112, 253);
}

